.side {
  
    padding-top:15px;
    height:100%;
    width: 100%;
    float: left;
    font-size: 10px;
  }
  
  .mid
  {
  
  height:100%;
  float: left;
  }
  .heading{
    height:10%;
    text-align: center;
  }
  .head1{
    height:50%;
    font-size: 120;
  
  }
  .head2{
    height:50%;
    
  }
  .fields{
    height:90%;
    
  
  }
  .fields1{
    height:40%;
  }
  
  .fields11{
    height:10%;
   
  }
  
  .fields12{
    height:45%;
   
    
  }
  .name{
    height: 100%;
    
    float: left;
  }
  .contactname{
    height: 100%;
  
    float: left;
  }
  .contactNumber{
    height: 100%;
    
    float: right;
  }
  .mode{
    height: 100%;
    float: left;
  }
  .startTime{
    height: 100%;
    
    float: left;
  }
  .endtime{
    height: 100%;
    
    float: right;
  }
  .fields13{
    height:45%;
   
    
  }
  .fields2{
    height:20%;
   
    
  }
  .fields21{
    height:20%;
    
    
  }
  .fields22{
    height:80%;
   
   
    
  }
  .approval{
    height: 100%;
    
    float: left;
  }
  .total{
    height: 100%;
    
    float: right;
  }
  .fields3{
    height:40%;
    
    
  }
  .fields31{
    height:10%;
   
    
  }
  .fields32{
    height:70%;
   
    
  }
  .charges{
    height:60%;
   
    
  }
  .ggg{
    height: 100%;
    
    float: left;
  }
  .hhh{
    height: 100%;
    
    float: right;
  }
  .rates{
    height:40%;
    
  
  }
  .rate1{
    height: 100%;
    
    float: left;
  }
  .rate2{
    height: 100%;
  
    float: left;
  }
  .rate3{
    height: 100%;
    float: right;
  }
  .fields33{
    height:20%;
   
  
  }
  .button1{
    height: 100%;
  
    float: left;
    padding-top: 0.5%;
    text-align: center;
  }
  .button2{
    height: 100%;
    
    float: right;
    padding-top: 0.5%;  
    text-align: center;
  }
  input[type=text],select {
    width: 100%;
    padding: 4px 16px;
    margin: 8px 0;
    display: inline-block;
   
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number],select {
    width: 100%;
    padding: 4px 16px;
    margin: 8px 0;
    display: inline-block;
   
    border-radius: 4px;
    box-sizing: border-box;
  }
  /* .prasad {
    width: 300px;
    height: 100px;
    padding: 50px;
    float: left;
    border: 1px solid red;
  } */
  