<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <div class="col-md-1 col-sm-1 side">
   
  </div>
  <div class="col-md-10 col-sm-10 mid">
    <div class="content">
      <div class="col-md-12 col-sm-12 header">
        <h2>Generate Recurring Bill</h2>
      </div>
      <div class="col-md-3 a">
        <div class="col-md-3 user">
            </div>
      </div>
      <div class="col-md-9 b">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" name="generateBill">
          <table class="table  role">
  
            <tr class="col-md-12">
              <td class="">Bill For :
              <td>
                <mat-radio-group aria-labelledby="radio-group-label" class="radio-group" [(ngModel)]="generate.billFor"
                  [ngModelOptions]="{standalone: true}">
                  <mat-radio-button class="radio-button" *ngFor="let option of option" [value]="option"
                    (change)="callFlatBlock(option)">
                    <div class="options">{{option}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                  </mat-radio-button>
                </mat-radio-group>
  
  
  
  
              </td>
              <td></td>
            </tr>
            <tr [hidden]="!isExcludeFlat">
              <td>
                Exclude Flat :
              </td>
              <td>
                <select required [(ngModel)]="generate.excludeFlat" name="excludeFlat" id="excludeFlat"
                  formControlName="excludeFlat">
                  <option hidden></option>
  
                  <option *ngFor="let occ of occupancy$" value="{{occ.occupancyDetailsId}}">
                    {{ occ.wingBuilding }}-{{occ.flatNumber}}</option>
                </select>
  
  
  
  
              </td>
              <td></td>
  
            </tr>
            <tr [hidden]="!isBlockTower">
              <td>Block/Tower :</td>
              <td>
                <select required [(ngModel)]="generate.blockTower" name="blockTower" id="blockTower"
                  formControlName="blockTower">
                  <option hidden></option>
                  <option *ngFor="let occ of occupancy$" value="{{occ.wingBuilding}}">{{ occ.wingBuilding }}</option>
                </select>
              </td>
              <td></td>
            </tr>
            <tr [hidden]="!isSingleMultiple">
              <td>single/Multiple Flat:</td>
              <td>
                <!-- <select required [(ngModel)]="generate.singleMultipleFlat" name="singleMultipleFlat"
                  formControlName="singleMultipleFlat">
                  <option hidden></option>
                  <option *ngFor="let occ of occupancy$" value="{{occ.occupancyDetailsId}}">
                    {{ occ.wingBuilding }}-{{occ.flatNumber}}</option>
                </select> -->
  
  
                <mat-form-field>
                    <mat-label>Select Flats</mat-label>
                    <mat-select [formControl]="singleMultipleFlat" multiple [(ngModel)]="generate.singleMultipleFlat" name="singleMultipleFlat" id="singleMultipleFlat"
                    formControlName="singleMultipleFlat" >
                      <mat-option *ngFor="let topping of occupancy$" [value]="topping.occupancyDetailsId">
                        {{topping.wingBuilding}}-{{topping.flatNumber}} </mat-option>
                    </mat-select>
                  </mat-form-field>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> Bill Type:</td>
              <td><select required [(ngModel)]="generate.billingHeadIdFk.billingHeadsId" name="billingHeadIdFk"
                  id="billingHeadIdFk" formControlName="billingHeadIdFk" class="form-control"
                  (change)="callBillType($event.target.value)"
                  [ngClass]="{ 'is-invalid': submitted && f.billingHeadIdFk.errors }">
                  <option *ngFor="let bill of billingHead$" value="{{bill.billingHeadsId}}">{{ bill.billName }}</option>
                </select>
                <span *ngIf="submitted && f.billingHeadIdFk.errors" class="invalid-feedback">
                  <div *ngIf="f.billingHeadIdFk.errors.required">Select Billing Type</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr [hidden]="!isBillType">
              <td class="lbl"> Bill Period :</td>
  
              <td><select required [(ngModel)]="generate.billPeriod" name="billPeriod" id="billPeriod"
                  formControlName="billPeriod" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.billPeriod.errors }">
                  <option hidden></option>
                  <option *ngFor="let isOwnership of OwnershipTitle">{{isOwnership}}</option>
                </select>
                <span *ngIf="submitted && f.billPeriod.errors" class="invalid-feedback">
                  <div *ngIf="f.billPeriod.errors.required">Select Bill Period</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> Year:</td>
              <td><select required [(ngModel)]="generate.year" name="year" id="year" formControlName="year"
                  class="form-control">
                  <option hidden></option>
                  <option *ngFor="let isYear of yearTitle">{{isYear}}</option>
                </select>
  
              </td>
              <td></td>
            </tr>
  
            <tr>
              <td class="lbl"> Date :</td>
              <td><input type="date" formControlName="date" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.date.errors }" name="date" id="date" required
                  [(ngModel)]="generate.date" placeholder="Enter date" />
                <span *ngIf="submitted && f.date.errors" class="invalid-feedback">
                  <div *ngIf="f.date.errors.required">Date is required</div>
                </span>
  
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> Due Date :</td>
              <td><select required [(ngModel)]="generate.dueDate" name="dueDate" id="dueDate" formControlName="dueDate"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dueDate.errors }"
                  (change)="callDueDate($event.target.value)">
                  <option hidden></option>
                  <option *ngFor="let isDueDate of DueDate">{{isDueDate}}</option>
                </select>
                <span *ngIf="submitted && f.dueDate.errors" class="invalid-feedback">
                  <div *ngIf="f.dueDate.errors.required">Select Due Date</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td [hidden]="!isChooseDueDate" class="lbl"> Choose Due Date :
                <input type="date" name="chooseDueDate" id="chooseDueDate" formControlName="chooseDueDate"
                  [(ngModel)]="generate.chooseDueDate"></td>
            </tr>
            <tr>
              <td class="lbl"> Grace Period :</td>
              <td><select required [(ngModel)]="generate.gracePeriod" name="gracePeriod" id="gracePeriod"
                  formControlName="gracePeriod" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.gracePeriod.errors }">
                  <option hidden></option>
                  <option *ngFor="let isGracePeriod of GracePeriod">{{isGracePeriod}}</option>
                </select>
                <span *ngIf="submitted && f.gracePeriod.errors" class="invalid-feedback">
                  <div *ngIf="f.gracePeriod.errors.required">Select Grace Period</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> Bill No. Prefix :</td>
              <td><input type="text" formControlName="billNoPrefix" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.billNoPrefix.errors }" name="billNoPrefix" id="billNoPrefix"
                  required [(ngModel)]="generate.billNoPrefix" placeholder="Enter bill no prefix" />
                <span *ngIf="submitted && f.billNoPrefix.errors" class="invalid-feedback">
                  <div *ngIf="f.billNoPrefix.errors.required">Bill No Prefix is required</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> Bill Start No. :</td>
              <td><input type="text" formControlName="billStartNumber" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.billStartNumber.errors }" name="billStartNumber"
                  id="billStartNumber" required pattern="[0-9]{1,15}" required [(ngModel)]="generate.billStartNumber"
                  placeholder="Enter bill start number" />
                <span *ngIf="submitted && f.billStartNumber.errors" class="invalid-feedback">
                  <div *ngIf="f.billStartNumber.errors.required">Bill Start Number is required</div>
                  <div *ngIf="f.billStartNumber.errors.pattern">Bill Start Number should be upto 15 digits</div>
  
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> Bill No. Suffix :</td>
              <td><input type="text" formControlName="billNoSuffix" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.billNoSuffix.errors }" name="billNoSuffix" id="billNoSuffix"
                  required [(ngModel)]="generate.billNoSuffix" placeholder="Enter bill no suffix" />
                <span *ngIf="submitted && f.billNoSuffix.errors" class="invalid-feedback">
                  <div *ngIf="f.billNoSuffix.errors.required">Bill No Suffix is required</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl">Start Date :</td>
              <td><input type="date" formControlName="startDate" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" name="startDate" id="startDate" required
                  [(ngModel)]="generate.startDate" />
                <span *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                  <div *ngIf="f.startDate.errors.required">Start Date is required</div>
                </span>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="lbl"> End Date :</td>
              <td><input type="date" formControlName="endDate" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" name="endDate" id="endDate" required
                  [(ngModel)]="generate.endDate" />
                <span *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                  <div *ngIf="f.endDate.errors.required">End Date is required</div>
                </span>
              </td>
              <td></td>
            </tr>
  
          
            <tr>
              <td colspan="3"><button class="btn btn-info save" type="submit"><b>Save</b></button>
  
                <button class="btn btn-info" (click)="rediectToListDetails('billing_heads/generate_bill')"><b>Cancel</b></button>
                <button class="btn btn-info" (click)="rediectToListDetails('billing_heads/generate_bill')"><b>Show List</b></button> </td>
            </tr>
  
          </table>
        </form>
      </div>
  
    </div>
  
  
  
  
  
  
  </div>