
<div class="container-fluid">
    <label><h5> Resident List</h5></label><br>
    <!-- Add New Resident Staff -->
            <label><h6><a *ngIf="showSaveButton()" (click)="rediectToPage('society/add_resident_staff')">Add New Resident Staff</a></h6></label>
            <table datatable [dtOptions] = "dtOptions" [dtTrigger]="dtTrigger"  class="display nowrap" style="width:100%">
                <thead>
                    <tr>
    
                        
          <th>Resident</th>
          <th>Card No</th>
          <th>Resident Staff Name</th>
          <th>Mobile Number</th>
          <th>Designation</th>
          <th>Vendor</th>
          <th>From Time</th>
          <th>To Time</th>
          <th>Adhar Number</th>
          <th>Address</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of residentStaffManager$ ">
    
                        <td><a (click)="rediectToDetails('society/get_resident_details', user.residentStaffId)">{{ user.cardNo }}</a>
                        </td>
                        <td>{{ user.cardNo }}</td>
          <td>{{ user.residentStaffName }}</td>
          <td>{{ user.mobileNumber }}</td>
          <td>{{ user.designation }}</td>
          <td>{{ user.vendor }}</td>
          <td>{{ user.fromTime }}</td>
          <td>{{ user.toTime }}</td>
          <!-- <td>{{ user.dateOfCardIssue }}</td>
          <td>{{ user.validUpto }}</td>
          <td>{{ user.dateOfBirth }}</td> -->
          <td>{{ user.adharNumber }}</td>
          <td>{{ user.address }}</td>
                        
                        <!-- <td><a routerLink="/updateParkingById/{{user.parkingId }}"><i class="fa fa-edit"
                                                                            style="font-size:22px"></i></a>
                        <button style="font-size:14px"(click)="openConfirmationDialog(user.parkingId)" ng-confirm-click="do you relly want to delete this?" type="button" class="btn btn-link"> <i class="material-icons">delete</i></button>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                    </tr>
                </tfoot>
            </table>
    </div>