.side {
    /* background: lightgrey; */
    padding-top:15px;
    height:100%;
    width: 100%;
    float: left;
    font-size: 10px;
  }
  li{
    font-size: 10px;
  }
  
  .mid
  {
  
  height:100%;
  float: left;
  }
  .imp{
  color: red;
  }
  .row1{
    height:20%;
    float: left;
  text-align: center;
    padding: 2%
  }
  .cell{
    /* background: purple; */
    float: left;
    text-align: top;
    /* margin-top:0%; */
    // background: palevioletred;
  }
  .cell1{
    /* background: purple; */
    float: left;
    text-align: top;
    /* margin-top:0%; */
  }
  .lbl{
    float: left;
  }
  .temp
  {
    height: 100%;
   
  }
  .header{
    height: 5%;
  
  }
  
  