#dynamic-table{
	border:1px solid grey;
	
}

table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }
  .t1 th, .t1 td {
    padding: 4px 8px ;
    
  }
  .class1 {
      /*    margin-left: 1%; */
      padding-left: 5%      
  }
  
  .scroll
{
  height:430px;
  overflow: auto;
}
  .t1 thead th {
    background: #458e38;
    /*text-transform: lowercase;*/
    text-align: left;
    font-size: 15px;
    color: #fff;
  }
  .t1 tr {
    border-right: 1px solid #95b3d7;
  }
  .t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #a0d897;
  }
  .t1 tbody th, .t1 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
  }
  .t1 tfoot th {
    background: #458e38;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
	height:15px;
  }
  .t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: right;
  }
  
  .t1
  {
	  
	   counter-reset: serial-number;  /* Set the serial number counter to 0 */
}
.t1 td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}




.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
.content
{
  height:100%;
  width:100%;
  
}
.sidebar
{
/*  height:50%;
border:1px dashed darkblue; 
width:50%;
 */
 height: 90%;
 width:100%;
 /* padding:2%; */
 
}
.a
{
  
  border:1px solid green;
}
/* tr{
 text-align: center; */
/* } */
/* .my-custom-scrollbar {
  position: relative;
  height: 80%;
  overflow: auto;
} */
/* .table-wrapper-scroll-y {
  display: block;
} */
/* td {
	border: 1px solid lightgray;
} */

/* th {
	border: 1px solid lightgray;
} */
.row{
  padding-top: 1%;
}
/* td,th {
  width:10%;
} */

table{
  /* height: 100%; */
  width:100%;
  /* background: #458e38; */
  
}
.all-complaints{
  overflow: auto;
  padding-left:5%; 
}
th{
  font-size: 12px;
  background:lightgrey;
}
tr{
  height: 0.5%;
}
td{
  font-size: 12px;
  border:1px solid lightgrey;
}
.edit
{
  padding: 1.5%;
  /* margin :4%; */
}