.content
{
	height:100%;
	width:100%;
}
.table{
  font-size: 14px;
}
.a{
 
	height: 112.5%;
   float: left;
   
	text-align: center;
  }
  .b
  {
	
	float: right;
	height: 112.5%;
  
  }
  .header{
	  height:10%;
	  text-align:center;
  }
  td1
  {
	  border:1px solid blue;
  }
  
  .sub
  {
	  text-align: center;
  }
  input[type=text], select, input[type=number] {
  width: 80%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}
.Selector
{
color: red;
}
.billingHeadForm
{
	height:100%;
	width:100%;
}
.side {
  /* background: lightgrey; */
  padding-top:15px;
  height:100%;
  width: 100%;
  float: left;
  font-size: 10px;
}
li{
  font-size: 10px;
}

.mid
{

height:100%;
float: left;
}

