.content
{
height:100%;
width:100%;
}
/* .voucherTable{
/ width: 100%; /
/* border-collapse: collapse;
} */ 
.a{

height: 112.5%;
float: left;

text-align: center;
}
.b
{

float: right;
height: 112.5%;

}
.header{
height:10%;
text-align:center;
}
.td1
{
border:1px solid #0d0d0e;
}
/* .lbl
{	

//padding-left: 10%;
} */

.sub
{
text-align: center;
}
input[type=text], select, input[type=number],input[type=date]  {
width: 80%;
padding: 6px 20px;
margin: 8px 0;
display: inline-block;
border-radius: 4px;
box-sizing: border-box;
}
.Selector
{
color: red;
}
.billingHeadForm
{
height:100%;
width:100%;
}

.new
{
border: 1px solid blue;
}
.voucherType
{
width: 50px;
}
.side {
/* / background: lightgrey; / */
padding-top:15px;
height:100%;
width: 100%;
float: left;
font-size: 10px;
}
li{
font-size: 10px;
}

.mid
{

height:100%;
float: left;
}

.row1{
height:10%;
float: left;

padding: 2%
}
.cell{
/* / background: purple; / */
float: left;
}
.cell1{
background: purple;
float: left;
padding:1%
}